bin/*
OBJ/*
/Source/Core/ContractService.Application/obj/Debug/net5.0
/Source/Core/ContractService.Infrastructure/obj/Debug/net5.0
/Source/Module/Contact/ContactService.ContactModule.Domain/obj/Debug/net5.0
/Source/Module/Contact/ContactService.ContactModule.Engine/obj/Debug/net5.0
/Source/Module/Contact/ContactService.ContactModule.Messages/obj/Debug/net5.0
/.vs/ContactService/v17
/Source/Core/ContractService.Application/bin/Debug/net5.0
/Source/Core/ContractService.Application/obj
/Source/Core/ContractService.Infrastructure/bin/Debug/net5.0
/Source/Core/ContractService.Infrastructure/obj
/Source/Module/Contact/ContactService.ContactModule.Domain/bin/Debug/net5.0
/Source/Module/Contact/ContactService.ContactModule.Domain/obj
/Source/Module/Contact/ContactService.ContactModule.Engine
/Source/Module/Contact/ContactService.ContactModule.Messages/bin/Debug/net5.0
/Source/Module/Contact/ContactService.ContactModule.Messages/obj
/Source/Service/ContactService.API/bin/Debug/net5.0
/Source/Service/ContactService.API/obj/Debug/net5.0
/Source/Service/ContactService.API/obj
/.vs/ContactService/config/applicationhost.config
/.vs/ContactService
/Source/Core/ContactService.SourceGenerator/bin/Debug
/Source/Core/ContactService.SourceGenerator/obj
/Source/Module/Contact/ContactService.ContactModule.Data/bin/Debug/net5.0
/Source/Module/Contact/ContactService.ContactModule.Data/obj/Debug/net5.0
/Source/Module/Contact/ContactService.ContactModule.Data/obj
